<app-landing *ngIf="!isAuthenticated"></app-landing>
<app-main *ngIf="isAuthenticated"></app-main>
<footer class="footer">
    <nav class="footer__nav">
        <!--<a class="footer__a" href="">About</a>-->
        <i class="fa fa-github fa-lg github" aria-hidden="true"><a class="footer__a" href="https://github.com/acsproj">Source Code</a></i>
        <!--<a class="footer__a" href="">FAQ</a>-->
    </nav>
    <div class="footer__copyright">
        Copyright © 2017
        <br>
        Artem Ustimov, Marina Belyanova
    </div>
</footer>
