<app-landing *ngIf="!isAuthenticated"></app-landing>
<app-main *ngIf="isAuthenticated"></app-main>
<footer class="footer">
    <nav class="footer__nav">
        <i class="fa fa-lg"><a class="footer__a" href="https://github.com/CheckiePy/CheckiePyDocs/blob/master/HOWTO.md">Docs</a></i>
        <i class="fa fa-github fa-lg github" aria-hidden="true"><a class="footer__a" href="https://github.com/CheckiePy">Source Code</a></i>
        <i class="fa fa-lg"><a class="footer__a" href="https://github.com/CheckiePy/CheckiePyDocs/blob/master/SECURITY.md">Security</a></i>
    </nav>
    <div class="footer__copyright">
        Copyright © 2017-2018
        <br>
        Artem Ustimov, Marina Belyanova
    </div>
</footer>
