<div class="loader" *ngIf="showLoader"></div>
<mdl-list *ngIf="!hideRepositories">
    <ng-container *ngFor="let repository of repositories">
        <mdl-list-item>
            <mdl-list-item-primary-content>
                {{repository.name}}
            </mdl-list-item-primary-content>
            <mdl-list-item-secondary-action>
                <button (click)="connectRepository(repository.id)" *ngIf="!repository.isConnected" id="btn">
                    Connect
                </button>
                <button (click)="disconnectRepository(repository.id)" *ngIf="repository.isConnected" mdl-button mdl-colored="primary">
                    Disconnect
                </button>
            </mdl-list-item-secondary-action>
        </mdl-list-item>
    </ng-container>
</mdl-list>
<div class="flt-btn">
    <a (click)="refreshRepositoryList()" mdl-button  mdl-button-type="fab" mdl-colored="accent" mdl-ripple>
        <mdl-icon>refresh</mdl-icon>
    </a>
</div>
