<div class="screen">
    <div class="title">
        Repositories
    </div>
    <div class="loader" *ngIf="showLoader"></div>
    <div *ngIf="!hideRepositories">
        <ng-container *ngFor="let repository of repositories">
            <div class="card">
                <span class="card__text">
                    {{repository.name}}
                </span>
                <div class="button-primary button-primary_card" (click)="connectRepository(repository.id)" *ngIf="!repository.isConnected">
                    Connect
                </div>
                <div class="button-primary button-primary_card button-primary_negative" (click)="disconnectRepository(repository.id)" *ngIf="repository.isConnected">
                    Disconnect
                </div>
            </div>
        </ng-container>
    </div>
</div>
<div class="button-float" (click)="refreshRepositoryList()">
    <i class="fa fa-refresh fa-lg" aria-hidden="true"></i>
</div>
