<form [formGroup]="form">
    <h4 class="mdl-dialog__title">Add code style</h4>
    <div class="mdl-dialog__content" style="text-align: center;">
        {{ error }}
        <mdl-textfield type="text" label="Name" formControlName="name" floating-label></mdl-textfield>
        <br/>
        <mdl-textfield type="text" label="Repository" formControlName="repository" floating-label></mdl-textfield>
        <br />
        <mdl-spinner class="hcenter" *ngIf="showLoader" single-color active></mdl-spinner>
    </div>
    <div class="mdl-dialog__actions">
        <button [disabled]="disableControls" (click)="cancel()" type="button" mdl-button mdl-button-type="raised">Cancel</button>
        <button [disabled]="disableControls || !form.valid" (click)="addCodeStyle()" type="button" mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple>Save</button>
    </div>
</form>
