<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Checkie - Code styles</title>
        <link href="https://fonts.googleapis.com/css?family=Muli:200,300,700,700i" rel="stylesheet">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <header class="header">
            <span class="header__logo">
                <img class="header__icon" src="img/logo.png">
                Checkie
            </span>
            <nav class="header__nav">
                <a class="header__a" href="">Code styles</a>
                <a class="header__a" href="">Repositories</a>
                <a class="header__a" href="">Log out</a>
            </nav>
        </header>
        <div class="screen">
            <div class="title">
                Code styles
            </div>
            <div class="card">
                <span class="card__text">
                    First code style
                </span>
                <div class="button-primary button-primary_card">
                    Delete
                </div>
            </div>
            <div class="card">
                <span class="card__text">
                    Second code style
                </span>
                <div class="button-primary button-primary_card">
                    Delete
                </div>
            </div>
        </div>
        <div class="pagination">
            <div class="pagination__circle pagination__circle_small pagination__circle_disabled">
                <
            </div>
            <div class="pagination__circle pagination__circle_disabled">
                1
            </div>
            <div class="pagination__circle pagination__circle_small">
                >
            </div>
        </div>
        <div class="button-float">
            <i class="fa fa-plus fa-lg" aria-hidden="true"></i>
        </div>
        <footer class="footer">
            <nav class="footer__nav">
                <a class="footer__a" href="">About</a>
                <a class="footer__a" href="">Source Code</a>
                <a class="footer__a" href="">FAQ</a>
            </nav>
            <div class="footer__copyright">
                Copyright © 2017
                <br>
                Artem Ustimov, Marina Belyanova
            </div>
        </footer>
    </body>
    <script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/7e251a0597.js"></script>
    <script src="js/scripts.js"></script>
</html>
