<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Checkie</title>
        <link href="https://fonts.googleapis.com/css?family=Muli:200,300,700,700i" rel="stylesheet">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <header class="header">
            <span class="header__logo">
                <img class="header__icon" src="img/logo.png">
                Checkie
            </span>
            <nav class="header__nav">
                <a class="header__a" href="#features">Features</a>
                <a class="header__a" href="">How it works</a>
                <a class="header__a" href="">Log in</a>
            </nav>
        </header>
        <div id="getstarted">
            <div class="slogan">
                You write. We check.
            </div>
            <div class="button-promo">
                Get started for free
            </div>
        </div>
        <div class="features" id="features">
            <img src="img/features.png">
        </div>
        <footer class="footer">
            <nav class="footer__nav">
                <a class="footer__a" href="">About</a>
                <a class="footer__a" href="">Source Code</a>
                <a class="footer__a" href="">FAQ</a>
            </nav>
            <div class="footer__copyright">
                Copyright © 2017
                <br>
                Artem Ustimov, Marina Belyanova
            </div>
        </footer>
    </body>
    <script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
</html>
