<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>CheckiePy - Repositories</title>
        <link href="https://fonts.googleapis.com/css?family=Muli:200,300,700,700i" rel="stylesheet">
        <link href="../acs/src/assets/css/font-awesome.min.css" rel="stylesheet">
        <link href="../acs/src/styles.css" rel="stylesheet">
    </head>
    <body>
        <header class="header">
            <span class="header__logo">
                <img class="header__icon" src="../acs/src/assets/images/logo.png">
                CheckiePy
            </span>
            <nav class="header__nav">
                <a class="header__a" href="">Code styles</a>
                <a class="header__a" href="">Repositories</a>
                <a class="header__a" href="">Log out</a>
            </nav>
        </header>
        <div class="screen">
            <div class="title">
                Repositories
            </div>
            <div class="card">
                <span class="card__text">
                    Ustimov/Forums
                </span>
                <div class="button-primary button-primary_card">
                    Connect
                </div>
            </div>
            <div class="card">
                <span class="card__text">
                    acsproj/acsbackend
                </span>
                <div class="button-primary button-primary_card">
                    Connect
                </div>
            </div>
        </div>
        <div id="open" class="modal-dialog">
            <div class="modal-dialog__card">

                <div class="form-group form-group_buttons">
                    <a class="button-primary button-primary_negative" href="#close">Cancel</a>
                    <a class="button-primary button-primary_active button-primary_ok" href="#close">OK</a>
                </div>
            </div>
        </div>
        <div class="pagination">
            <div class="pagination__circle pagination__circle_small pagination__circle_disabled">
                <
            </div>
            <div class="pagination__circle pagination__circle_disabled">
                1
            </div>
            <div class="pagination__circle pagination__circle_small">
                >
            </div>
        </div>
        <div class="button-float">
            <i class="fa fa-refresh fa-lg" aria-hidden="true"></i>
        </div>
        <footer class="footer">
            <nav class="footer__nav">
                <a class="footer__a" href="">About</a>
                <a class="footer__a" href="">Source Code</a>
                <a class="footer__a" href="">FAQ</a>
            </nav>
            <div class="footer__copyright">
                Copyright © 2017
                <br>
                Artem Ustimov, Marina Belyanova
            </div>
        </footer>
    </body>
    <script src="../acs/src/assets/js/jquery.min.js"></script>
    <script src="../acs/src/assets/js/header.js"></script>
</html>
