<div id="fullpage">
    <div class="section" id="section0">
        <h1>
            NeuroCodeStyle
            <br />
            You write, we check!
            <br />
            <a href="/login/github/" mdl-button mdl-button-type="raised" mdl-colored="accent">
                Sign In with GitHub
            </a>
        </h1>
    </div>
    <div class="section" id="section2"><h1>Проверяйте pull-реквесты в 1 клик! <br /> Язык программирования Python3</h1></div>
    <div class="section" id="section3"><h1>Быстрый и удобный способ наладить <br /> проверку код-стайла для  open-source проектов</h1></div>
</div>
