<div id="fullpage">
    <div class="section" id="section0">
        <h1>
            acsproj.
            <br />
            You write, we check!
            <br />
            <a href="/login/github/" mdl-button mdl-button-type="raised" mdl-colored="accent">
                Sign In with GitHub
            </a>
        </h1>
    </div>
    <div class="section" id="section2"><h1>Check pull requests in single click! <br /> Supports Python 3</h1></div>
    <div class="section" id="section3"><h1>Fast and convenient way  <br /> to check code style for open-source projects</h1></div>
</div>
