/* Style for our header texts
* --------------------------------------- */
h1{
    font-size: 4em;
    font-family: arial,helvetica;
    color: #fff;
    margin:0;
    padding:0;
}

/* Centered texts in each section
* --------------------------------------- */
.section{
    text-align:center;
}


/* Backgrounds will cover all the section
* --------------------------------------- */
.section{
    background-size: cover;
}

.slide{
    background-size: cover;
}


/* Defining each sectino background and styles
* --------------------------------------- */
#section0{
    background-image: url(/assets/images/one.jpg);
}
#section0 h1{
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}
#section2{
    background-image: url(/assets/images/two.jpg);
    padding: 6% 0 0 0;
}
#section2 h1{
    top: 30%;
    transform: translateY(-50%);
    position: relative;
}
#section3{
    background-image: url(/assets/images/three.jpg);
    padding: 6% 0 0 0;
}
#section3 h1{
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    color: #fff;
}
