<div class="screen">
    <div class="title">
        Code styles
    </div>
    <div *ngIf="!codeStyles" class="loader"></div>
    <div class="message-box" *ngIf="codeStyles && codeStyles.length == 0">
        You have no code styles
    </div>
    <ng-container *ngFor="let codeStyle of codeStyles">
        <div class="card">
            <span class="card__text">
                {{codeStyle.name}}
            </span>
            <div class="button-primary button-primary_card" (click)="deleteCodeStyle(codeStyle.id)">
                Delete
            </div>
        </div>
    </ng-container>
</div>
<div class="button-float" (click)="openModal()">
    <i class="fa fa-plus fa-lg" aria-hidden="true"></i>
</div>
<div class="modal-dialog modal-dialog_visible" *ngIf="showModal">
    <div class="modal-dialog__card">
        <div class="message-box">
            Enter a repository clone address and a code style name
        </div>
        <form [formGroup]="form">
            {{error}}
            <div class="form-group">
                <div class="form-label">
                    <label>Repository</label>
                </div>
                <div>
                    <input class="form-input" type="text" formControlName="repository" placeholder="https://github.com/CheckiePy/CheckiePyFrontend.git">
                </div>
            </div>
            <div class="form-group">
                <div class="form-label">
                    <label>Code style name</label>
                </div>
                <div>
                    <input class="form-input" type="text" formControlName="name" placeholder="backend">
                </div>
            </div>
            <!--<div class="loader" *ngIf="showLoader"></div>-->
            <div class="form-group form-group_buttons">
                <button class="button-primary button-primary_negative" (click)="closeModal()" [disabled]="disableControls">Cancel</button>
                <button class="button-primary button-primary_active button-primary_ok" (click)="createCodeStyle()" [disabled]="disableControls || !form.valid">OK</button>
            </div>
        </form>
    </div>
</div>
