<div class="screen">
    <div class="title">
        Code styles
    </div>
    <div *ngIf="!codeStyles" class="loader"></div>
    <div class="message-box" *ngIf="!codeStyles || codeStyles.length == 0">
        You have no code styles
    </div>
    <ng-container *ngFor="let codeStyle of codeStyles">
        <div class="card">
            <span class="card__text" routerLink="/codestyle/{{codeStyle.id}}">
                {{codeStyle.name}}
            </span>
            <div class="button-primary button-primary_card" (click)="deleteCodeStyle(codeStyle.id)">
                Delete
            </div>
        </div>
    </ng-container>
</div>
<div class="button-float" (click)="createCodeStyle()">
    <i class="fa fa-plus fa-lg" aria-hidden="true"></i>
</div>
